**.suo
**.user
**/.vs
**/.tmp
**.tmp
**/bin
**/obj
**/output
**/_ReSharper.Caches
**/.idea
**.DotSettings

*/out/
*/packages/

*/RiderSdkPackageVersion.props
/NuGet.Config
**/java/

**.Generated.kt
**.Generated.cs
