**.suo
**.user
**/.vs
**/.tmp
**.tmp
**/bin
**/obj
**/output
**/artifacts
**/_ReSharper.Caches
**/.idea
**.DotSettings

*/out/
*/packages/

*/RiderSdkPackageVersion.props
/NuGet.Config

**.Generated.kt
**.Generated.cs
