<#
    // FQN to make sure that mscorlib is referenced
	global::System.Collections.Generic.IEnumerable<int> g;
	// a class that was imported in the includer
	IEnumerable<int> f;
	// make sure TextTemplating assembly is referenced
	global::Microsoft.VisualStudio.TextTemplating.TextTransformation h = this;
	// make sure the class name is correct
	global::Project.OtherDir.GeneratedTextTransformation i = this;
	// make sure that host is available
	global::Microsoft.VisualStudio.TextTemplating.ITextTemplatingEngineHost j = Host;
#>
