<#@ template language="C#" #>
<#@ output extension="xml" #>
<#
    for (int i = 0; i < 100; i += 1)
    {
#><hello>
<#
        PushIndent("  ");
    }
#><hello />
<#
    for (int i = 0; i < 100; i += 1)
    {
        PopIndent();
#></hello>
<#
    }
#>
