<#@ template language="C#" #>
<#@ output extension=".cs" #>
using System;

<#
    int meaning = 42;
#>

namespace ProjectWithT4
{
    public static class MeaningProvider
    {
        public static int Meaning => <#= meaning #>;
    }
}
