<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="Packages"/>
  </config>
  <packageSources>
    <!-- Need this internal feed to get JetBrains.EnvDTE.Client and JetBrains.EnvDTE.Host -->
    <add key="dotnet-build@LABS" value="https://repo.labs.intellij.net/artifactory/api/nuget/dotnet-build"/>
  </packageSources>
</configuration>
