File start
<#@ template language="C#" #>
After template directive
<#@ import namespace="System.Text" #>
After import directive
<#@ import namespace="System.Collections.Generic" #>
Before parameter
<#@ parameter name="Foo" type="System.Int32" #>
After parameter
Before parameter 2
<#@ parameter name="Bar" type="System.Text.StringBuilder" #>
After parameter 2
<#@ parameter name="int" type="System.String" #>
Before statement
<#
    int meaning = GetMeaning();
#>
After statement
Before expression
<#= meaning #>
After expression
Before feature
<#+
    private static int GetMeaning()
    {
#>
<#= 42 #>
<#+
        return 42;
    }
#>



